<?xml version="1.0"?>
<!-- 
mobile_robRAutLR.launch

Created by: Robson Rogério Dutra Pereira on 01.Out.2022
Last Modified: rrdpereira

Description: This is the main ROS launch for the autonomous mode of the robot with RPLidar A1.
-->
<launch>
    <rosparam command="load" file="$(find mobile_rob_dev)/config/robotParameters.yaml" ns="robot"/>
    <node name="mobile_rob" pkg="mobile_rob_dev" type="mobile_rob_dev_node" output="screen"/>
    <include file="$(find mobile_rob_dev)/launch/tf_RAutLR.launch"/>
    <include file="$(find mobile_rob_dev)/launch/rplidar.launch"/>
    <include file="$(find mobile_rob_dev)/launch/laser_filters.launch"/>
    <include file="$(find mobile_rob_dev)/launch/move_base_tebLR.launch"/>
</launch>