<?xml version="1.0" ?>
<model>
    <name>EnvDC05</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Robson Rogerio Dutra Pereira</name>
        <email>robson.pereira@estudante.ufscar.br</email>
    </author>
    <description>1st floor UFSCar DC</description>
</model>
