<?xml version="1.0" ?>
<model>
    <name>EnvDC06</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Robson Rogério Dutra Pereira</name>
        <email>robson.pereira@estudante.ufscar.br</email>
    </author>
    <description>UFSCarDC Ground Floor</description>
</model>
